# Backend config
DJANGO_ENV='development'
DJANGO_ALLOWED_HOSTS='*'
DEFAULT_TIME_ZONE='Asia/Dhaka'
DJANGO_SECRET_KEY='HelloWorld'

# Site config
SITE_NAME='Mess Management'
ADMIN_SITE_HEADER='MESS MANAGEMENT ADMIN PORTAL'
API_BROWSER_HEADER='MESS MANAGEMENT API'

# Database config
DATABASE_NAME='mess_management'
DATABASE_OWNER=''
DATABASE_PASSWORD=''
DATABASE_HOST='localhost'
DATABASE_PORT=5432

# Static Files Root
STATIC_FILES_ROOT='/home/prefix108/Documents/own/static' 

# Log config
MEDIA_ROOT='/media/'

